<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login</title>
</head>
<link rel="stylesheet" href="login.component.css">
<body>
        <div id="login1">
            <div class="container p-4">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="card text-center">
                            <div class="card-header">
                                <h3>login</h3>
                            </div>
                            <div class="card-body">
                                <img src="https://www.utng.edu.mx/assets/principal/carreras/mapasC/logo-utng.png" alt="logo">
                                <form action="/login" method="POST">
                                    <div class="form-group">
                                        <input type="text" name="username" placeholder="Usuario" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Contrasena" class="form-control">
                                    </div>
                                    <br />
                                    <div class="form-control">
                                        <a class="btn btn-success" btn-block href="/cargar">Aceptar</a>
                                    </div>
                                    <br>
                                    <a href="/registro">Registro</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
